html {
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #1A2240;
    color: #FFF;
}

h1 {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
}

figure {
    width: 100%;
    margin: 0 auto;
}

figure img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.banner {
    text-align: left;
}

.banner figcaption {
    width: 70%;
    margin: 0 auto;
}

.copyright {
    color: #bcb8b8;
}

.copyright:hover {
    color: gray;
    text-decoration: none;
}

.bio p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    padding: 10%
}

.bio {
    margin: 0 auto;
}

footer p {
    text-align: center;
}


/* media query for tablet in landscape mode */
@media only screen and (orientation: landscape) and (max-width: 1024px) {
    .bio p {
        font-size: 1.25rem;
    }
}